/* -- RESETS Y CONFIGURACIONES GLOBALES --------------------------------------*/
/* -- Reset general --*/
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* -- Para todo el documento aplicamos el Border Box -- */
* {
  box-sizing: border-box;
}
/* -- Estilos del Body, Fuentes, Fondos, Etc... -- */
body {
  font-family: sans-serif;
}
ul,ol,li,li a , .header-login a {
  list-style: none;
  text-decoration: none;
}
/* -- HEADER -----------------------------------------------------------------*/
.header {
  background-color: #84acfb;
  position: relative;
  top: 0px;
  height: 45px;
  width: 100vw;
}

/* -- INICIO - Logo --*/
.header-logo {
  position: absolute;
  height: 35px;
  width: 45px;
  left: 5px;
  top: 5px;
}
.header-logo-desktop-logo {
  display: none;
  width: 100%;
  padding: 10px;
}
.header-logo-mobile-logo , .header-logo-mobile-menu {
  height: 35px;
}
/* -- FIN - Logo --*/

/* -- INICIO - Buscar --*/
.header-buscar {
  position: absolute;
  height: 35px;
  width: calc(100vw - 90px);
  left: 50px;
  top: 5px;
}
.form-buscar {
  margin-top: 5px;
}
.form-buscar input {
  border: none;
  height: 25px;
  padding: 2px 2px 2px 30px;
  width: 95%;
}
.header-buscar img {
  width: 20px;
  position: absolute;
  left: 3%;
  top: 7px;
}
/* -- FIN - Buscar --*/

/* -- INICIO - Menu --*/
.header-menu {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 5px;
  top: 5px;
}
.header-menu-icon a {
  height: 100%;
  width: 100%;
}
.header-menu-lista {
  position: absolute;
  width: calc(100vw - 90px);
  right: -5px;
  top: -5px;
  height: 100vh;
  display: none;
}
.header-menu-icon li:hover > .header-menu-lista {
  display: inline-block;
}
.header-menu-lista a {
  padding: 15px;
  display: inline-block;
  color: #e5f0ed;
}
.header-menu-lista a:hover {
  background-color: #FF9900;
  color: black;
}
.header-menu-lista-login {
  background-color: rgba(179, 107, 0, 0.72);
  color: black;
}
.header-menu-lista-login a {
  padding: 15px;
}

/* -- FIN - Menu --*/

/* -- INICIO - Login --*/
.header-login {
  position: absolute;
  display: none;
  right: 10px;
  top: 5px;
}
.header-login a {
  display: block;
  padding: 5px;
}
/* -- FIN - Login --*/
/* -- BODY -------------------------------------------------------------------*/

/*FRAN - ESTABLECI ALGUNOS VALORES PARA PROBAR COMO IBA QUEDANDO
LE DI UN POCO DE MARGEN Y UN POCO DE PADDING A CADA CAJA
ASI SE VE UN POCO MEJOR*/
.principal-body {
  margin: 0px auto;
}
.principal-body-banner {
  padding: 50px 0;
  background-color: rgb(136, 136, 136);
  margin-top:
}
.principal-body-productos {
  padding: 50px 0;
  background-color: rgb(136, 136, 136);
}
/* -- FOOTER -----------------------------------------------------------------*/
.footer {
  background-color: #064f3b;
  color: #e5f0ed;
}





/* ---------------------------------------------------------------------------*/
/* -- MEDIA QUERY's ----------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

/* -- A PARTIR DE --> 640 px -- */
@media (min-width:640px) {
  /* -- INICIO - HEADER ------------------------------------------------------*/
  .header {
    height: 100px;
  }
  .header-logo-mobile-logo {
    display: none;
  }
  .header-logo-desktop-logo {
    display: inline-block;
  }
  .header-logo {
    position: absolute;
    height: 90px;
    width: 150px;
    left: 5px;
    top: 5px;
  }
  .header-logo-mobile-menu {
    display: none;
  }

  /*MENU*/
  .header-menu {
    height: 30px;
    width: calc(100vw - 170px);
    left: 160px;
    top: initial;
    bottom: 5px;
  }
  .header-menu-lista {
    display: inline-block;
    width: auto;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 5px;
    height: 100%;
  }
  .header-menu-lista li {
    float: left;
    width: 15%;
  }
  .header-menu-lista a {
    padding: 5px 5px;
  }
  .header-menu-lista a:hover {
    background-color: #e5ebf0;
    color: rgb(45, 58, 144);
  }
  .header-menu-lista-login {
    display: none;
  }

  .header-buscar {
    height: auto;
    width: calc(100vw - 269px);
    left: 160px;
    top: 35px;
    background-color: green;
  }
  .form-buscar {
    margin: 0px;
  }
  .header-menu-lista {
    display: inline-block;
    width: auto;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 5px;
    height: 100%;
  }
  .header-menu-lista li {
    float: left;
    width: 15%;
  }
  .header-menu-lista a {
    padding: 5px 5px;
  }
  .header-menu-lista-login {
    display: none;
  }

  .header-buscar {
    height: auto;
    width: calc(100vw - 269px);
    left: 160px;
    top: 35px;
    background-color: green;
  }
  .form-buscar {
    margin: 0px;
  }
  .form-buscar input{
    width: 100%;
  }
  .header-buscar img {
      left: 1%;
      top: 3px;
  }

  /*LOGIN*/
  .header-login {
    display: inline-block;
  }
  .header-login a {
    color: #e5ebf0;
  }
  .header-login a:hover {
    background-color: #e5ebf0;
    color: rgb(6, 44, 99);
  }

/*
  .header-login {
    height: 45px;
    width: 80px;
    right: 5px;
    top: 5px;
    background-color: blue;
  }*/
  /* -- FIN - HEADER ---------------------------------------------------------*/



  /* -- INICIO - BODY --------------------------------------------------------*/

  /* -- FIN - BODY -----------------------------------------------------------*/



  /* -- INICIO - FOOTER ------------------------------------------------------*/

  /* -- FIN - FOOTER ---------------------------------------------------------*/



@media (min-width:640px) {
  /* -- FIN - HEADER ---------------------------------------------------------*/



  /* -- INICIO - BODY --------------------------------------------------------*/

  /* -- FIN - BODY -----------------------------------------------------------*/



  /* -- INICIO - FOOTER ------------------------------------------------------*/

  /* -- FIN - FOOTER ---------------------------------------------------------*/


}
@media (min-width:960px) {
  /* -- FIN - HEADER ---------------------------------------------------------*/



  /* -- INICIO - BODY --------------------------------------------------------*/

  /* -- FIN - BODY -----------------------------------------------------------*/



  /* -- INICIO - FOOTER ------------------------------------------------------*/

  /* -- FIN - FOOTER ---------------------------------------------------------*/


}
