/* -- RESETS Y CONFIGURACIONES GLOBALES ---------------------------------------*/
/* -- Reset general --*/
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* -- Para todo el documento aplicamos el Border Box -- */
* {
  box-sizing: border-box;
}
/* -- Estilos del Body, Fuentes, Fondos, Etc... -- */
body {
  font-family: sans-serif;
}
ul,ol,li,li a {
  list-style: none;
  text-decoration: none;
}
/* -- Contenedor principal -- */
.principal-container {
  background-color: #84acfb;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* -- HEADER -----------------------------------------------------------------*/
.todo-header {
  background-color: #84acfb;
  max-width: 1200px;
  width: 100vw;
}
.principal-header {
  max-width: 1200px;
  width: 100%;
  position: relative;
}
.principal-logo {
  margin: 0 auto;
  float: left;
}
.principal-logo img {
  width: 150px;
  height: 60px;
}
/* -- BODY -------------------------------------------------------------------*/
/* -- SIDEBAR -- */
.todo-body {
  /*background-color: #dfeaff;*/
}
.principal-sidebar a {
  border-bottom: 1px white solid;
  display: block;
  color: white;
  padding: 10px;
}
.principal-menu a {
  border-bottom: 1px white solid;
  display: block;
  color: white;
  padding: 10px;
}

.principal-btn-menu , .principal-btn-sidebar {
  background-color: #FF9900;
  width: 100px;
}
.principal-btn-menu {
  float: left;
  display: none;
}
.principal-btn-sidebar {
  float: right;
}
.principal-btn-menu li:hover > .principal-menu li , .principal-btn-sidebar li:hover > .principal-sidebar li{
  display: block;
  float: none;
  position: relative;
}
.principal-btn-menu li:hover > li , .principal-btn-sidebar li:hover > li {
  background-color: rgba(241, 145, 0, 0.72);
  display: inline-block;
}
.principal-btn-menu a , .principal-btn-sidebar a {
  display: block;
  color: white;
  padding: 15px;
}
.principal-btn-menu a:hover , .principal-menu a:hover , .principal-btn-sidebar a:hover , .principal-sidebar a:hover{
  background-color: rgba(9, 112, 84, 0.82);
  color: white;
  text-align: center;
}
.principal-menu li , .principal-sidebar li {
  display: none;
}
.principal-menu ul {
  width: 60vw;
  max-width: 1200px;
  position: absolute;
  background-color: #FF9900;
  float: left;
}
.principal-menu a , .principal-sidebar a {
  padding: 40px 15px;
}
.principal-sidebar ul {
  width: 60vw;
  max-width: 1200px;
  position: absolute;
  background-color: rgba(255, 153, 0, 0.77);
  float: right;
}

.principal-menu {
  background-color: rgb(232, 139, 255);
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
}
.principal-sidebar {
  background-color: rgb(255, 125, 125);
  position: absolute;
  height: 50px;
  top: 0;
  right: 60vw;
}

/* -- CONTENIDO -- */
.principal-productos {
  background-color: white;
  clear: both;
}

/* -- FOOTER -----------------------------------------------------------------*/
.principal-footer {
  background-color: #097054;
  clear: both;
  /*height: 200px;*/
}
.principal-footer a {
  border-bottom: 1px white solid;
  display: block;
  color: rgb(227, 227, 227);
  padding: 30px 15px;
}

/* -- MEDIA QUERYS -----------------------------------------------------------*/
/*@media (min-width:640px) {
  .principal-menu ul {
    padding-left: 10%;
  }
}
@media (min-width:960px) {
  .principal-menu ul {
    padding-left: 0%;
  }
}*/




/*@media (min-width:640px) {
  .principal-sidebar {
    width: 25%;
    height: 1200px;
  }
  .principal-productos {
    width: 75%;
    margin-top: 50px;
    height: 1200px;
  }
  .principal-footer {
    height: 50px;
  }
}*/

/*@media (min-width:640px) {
  body {
    margin: 0 0.83%;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .toggle-nav {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
  }
  .main-nav li {
    float: left;
    margin: 0px 0.833%;
    width: 15%;
  }
  .main-nav a {
    font-size: 1em;
    padding: 8px;
    text-align: center;
  }
  .main-nav ul {
    display: block ;
    width: 100%;
    margin: 0 auto;

  }
  .toggle-nav {
    display:none;
  }
  .ion-navicon-round {
    display: block;
  }
  .banner {
    display: block;
    margin: 0.83%;
    overflow: hidden;
  }
  .vip-products {
    float: left;
    margin: 0;
  }
  .banner img {
    width: 100%;
  }
  .product {
    float: left;
    margin-top: 20px;
    margin: 0px 0.83%;
    width: 48.3334%;
  }
  .main-footer {
    clear: both;
    margin: 0 0.83%;
  }
}
@media (min-width:960px) {
  .product {
    float: left;
    margin-top: 20px;
    margin: 0px 0.83%;
    width: 31.66%;
  }
  .main-footer ul {
    overflow: hidden;
    background-color: rgb(162, 0, 0);
    text-align: center;
    height: 120px;
  }
  .main-footer li {
    display: inline-block;
    margin: 40px 0;
    border-right: 1px rgb(235, 235, 235) solid;
  }
  .main-footer a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
  }
  .main-footer li:last-child {
    border-right: none;
  }
}*/
