/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* -- HEADER -- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.header {
  background: rgb(100, 182, 200);
  width: 100vw;
  position: relative;
}
.header-barra img{
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header-div {
  position: relative;
  top: 0;
  height: 45px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* -- INICIO - Logo --*/
.header-div-logo {
  position: absolute;
  height: 35px;
  width: 75px;
  left: 5px;
  top: 5px;
}
.header-div-logo-desktop-logo {
  display: none;
}
.header-div-logo-mobile-logo , .header-div-logo-mobile-menu {
  height: 35px;
}
.header-div-logo a:hover , .header-div-logo img:hover {
  background-color: transparent;
}
/* -- FIN - Logo --*/

/* -- INICIO - Buscar --*/
.header-div-buscar {
  position: absolute;
  height: 35px;
  width: calc(100% - 135px);
  left: 90px;
  top: 5px;
}
.form-buscar input {
  margin-top: 1px;
  border: none;
  height: 30px;
  padding: 2px 2px 2px 30px;
  width: 100%;
  border-radius: 2px;
  color: rgb(150, 150, 150);
}
.header-div-buscar img {
  width: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
}
/* -- FIN - Buscar --*/

/* -- INICIO - Menu --*/
.header-div-menu {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 5px;
  top: 3px;
}
.header-div-menu-icon a {
  height: 100%;
  width: 100%;
  font-size: 0.9em;
}
.header-div-menu-lista {
  position: absolute;
  width: calc(100vw - 140px);
  right: -5px;
  top: 42px;
  height: 100vh;
  display: none;
  z-index: 100;
  background-color: rgb(143, 29, 11);
}
.header-div-menu-lista-principal , .header-div-menu-lista-secundario {
  display: none;
  z-index: 100;
  background-color: rgb(10, 10, 10);
}
.header-div-menu-icon-li:hover > .header-div-menu-lista {
  display: block;
}
.header-div-menu-lista-principal li:hover > .header-div-menu-lista-secundario {
  display: block;
}
.header-div-menu-lista a {
  padding: 14px 15px;
  display: block;
  color: rgb(222, 222, 222);
  border-top: transparent 1px solid;
  border-bottom: rgb(26, 26, 26) 1px solid;
}
.header-div-menu-lista a:hover {
  background-color: rgba(124, 124, 124, 0.4);
  border-top: rgb(222, 222, 222) 1px solid;
  border-bottom: rgb(222, 222, 222) 1px solid;
  padding: 14px 15px;
  color: rgb(222, 222, 222);
}
.header-div-menu-lista-login {
  background-color: rgba(10, 121, 181, 0.7);
  color: black;
}
.header-div-menu-lista-login a {
  padding: 15px;
}
.header-div-menu-lista-logoff {
  background-color: rgba(161, 9, 9, 0.7);
  border: 0;
  padding: 14px 15px;
  display: block;
  color: rgb(222, 222, 222);
  border-top: transparent 1px solid;
  border-bottom: rgb(26, 26, 26) 1px solid;
  margin: 0 auto;
  width: 100%;
}

.boton-temas {
  border: 0;
  display: block;
  border-top: transparent 1px solid;
  border-bottom: rgb(26, 26, 26) 1px solid;
  margin: 0 auto;
  width: 100%;
}
.boton-temas button {
  width: 30%;
  padding: 10px 0;
  border: 0;
  display: inline-block;
}

.boton-temas-default {
  background-color: rgba(100, 200, 100, 0.8);
}
.boton-temas-azul {
  background-color: rgba(100, 182, 200, 0.8);
}
.boton-temas-gris {
  background-color: rgba(116, 116, 116, 0.8);
}

/* -- FIN - Menu  --*/

/* -- INICIO - Login --*/
.header-div-login {
  position: absolute;
  display: none;
  right: 10px;
  top: 7px;
}
.header-div-login a {
  display: block;
  padding: 5px 10px;
}
/* -- FIN - Login --*/

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* -- MEDIA QUERY's -- 640 -- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
@media (min-width:640px) {
  /* -- INICIO - HEADER ------------------------------------------------------*/
   .header {
     margin: 0 auto;
     position: relative;
     height: 120px;
     top: 0;
     max-height: 120px;
   }
   .header-div {
     height: inherit;
   }
   .header-barra img{
     height: 5px;
   }
   /* -- INICIO Logo -- */
   .header-div-logo {
     width: 130px;
     left: 30px;
     top: 10px;
     z-index: 40;
     height: auto;
   }
   .header-div-logo-mobile-logo {
     display: none;
     width: 130px;
   }
   .header-div-logo-desktop-logo {
     display: inline-block;
     width: 100%;
   }
   .header-div-logo-mobile-menu {
     display: none;
   }
   /* -- FIN Logo -- */

   /* -- INICIO - Barra de busqueda -- */
   .header-div-buscar {
     height: auto;
     width: calc(100% - 350px);
     left: 195px;
     top: 40px;
   }
   .form-buscar {
     margin: 0;
   }
   .form-buscar input{
     width: 100%;
   }
   .header-div-buscar img {
     top: 3px;
   }
   /* -- FIN - Barra de busqueda -- */

   /* -- INICIO - Menu -- */
   .header-div-menu {
     height: 32px;
     width: 100%;
     left: 0;
     top: auto;
     background-color: rgb(143, 29, 11);
     bottom: 0;
   }
   .header-div-menu-lista {
     display: inline-block;
     width: auto;
     top: 1px;
     left: 0;
     right: 0;
     bottom: 5px;
     height: 93%;
   }
   .header-div-menu-lista li {
     float: left;
     width: 15%;
     text-shadow: 0 1px 5px rgba(0, 50, 110, 0.5);
     border-radius: 2px;
     overflow: hidden;
   }
   .header-div-menu-lista li:hover > .header-div-menu-lista-principal {
     display: inline-block;
     width: 150px;
     position: absolute;
     left: 0;
   }
   .header-div-menu-lista-principal li:hover > .header-div-menu-lista-secundario {
     top: 0;
     left: 148px;
     width: 150px;
   }
   .header-div-menu-lista-principal li , .header-div-menu-lista-secundario li {
     float: left;
     width: 100%;
     overflow: hidden;
     border-bottom: rgb(80, 80, 80) 1px solid;
     color: rgb(222, 222, 222);
    display: block;
   }
   .header-div-menu-lista-secundario {
     position: absolute;
     top: 92%;
     left: 18.6%;
   }
   .header-div-menu-lista a {
     padding: 5px;
     display: block;
     color: rgba(235, 255, 255, 1);
     text-shadow: 0 1px 5px rgba(0, 50, 110, 0.5);
     border-top: none;
     border-bottom: none;
   }
   .header-div-menu-lista li:hover {
     background-color: rgba(80, 80, 80, 0.9);
     color: rgb(55, 55, 55);
     border-top: none;
     border-bottom: transparent 1px solid;
   }
   .header-div-menu-lista-login {
     display: none !important;
   }
   .header-div-menu-lista a:hover {
     background-color: rgb(173, 223, 249);
     color: rgb(45, 65, 94);
     text-shadow: 0 1px 5px rgba(230, 241, 254, 0.9);
     border-top: none;
     border-bottom: none;
     padding: 5px;
   }
   .boton-temas {
     display: none;
   }

   .header-div-login-temas-default {
     background-color: rgba(100, 200, 100, 0.8);
     padding: 4px 20px;
     margin-right: 5px;
     border-radius: 5px;
   }
   .header-div-login-temas-azul {
     background-color: rgba(100, 182, 200, 0.8);
     padding: 4px 20px;
     border-radius: 5px;
   }
   .header-div-login-temas-gris {
     background-color: rgba(116, 116, 116, 0.8);
     padding: 4px 20px;
     margin-left: 5px;
     border-radius: 5px;
   }

   /*LOGIN*/
   .header-div-login {
     display: block;
     width: 100%;
     font-size: 0.8em;
     right: 0;
     /*background-color: rgb(38, 38, 38);*/
     top: 0;
     z-index: 100;
   }
   .header-div-login a {
     float: right;
     text-shadow: 0 1px 5px rgba(66, 66, 66, 0.72);
     color: rgb(210, 210, 210);
   }
   .header-div-login a:hover {
     background-color: rgba(131, 130, 130, 0.75);
     color: rgba(240, 240, 240,1);
     border-radius: 3px;
     overflow: hidden;
     border-radius: 0 0 10px 10px;
   }
   .header-div-login-links-logoff input{
     border: none;
     background-color: transparent;
     float: right;
     text-shadow: 0 1px 5px rgba(66, 66, 66, 0.72);
     color: rgb(210, 210, 210);
     padding: 5px 10px;
     cursor: pointer;
     z-index: 60;
   }
   .header-div-login-links-logoff input:hover{
     background-color: rgba(131, 130, 130, 0.75);
     color: rgba(240, 240, 240,1);
     border-radius: 3px;
   }
   .header-div-login-icons {
     height: 24px;
     padding: 4px 5px 2px 5px !important;
     /*float: right;*/
   }
   .borrar-solo-pruebas {
     float: left;
   }
   .header-div-login-links {
     background-color: rgb(80,80,80);
     position: absolute;
     right: 25px;
     border-radius: 0 0 10px 10px;
   }
   /* -- FIN - HEADER ---------------------------------------------------------*/
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* -- MEDIA QUERY's -- 960 -- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
@media (min-width:960px) {
  /* -- INICIO - HEADER ---------------------------------------------------------*/
  .header {
    height: 130px;
  }

  /* -- INICIO Logo -- */
  .header-div-logo {
    width: 150px;
    margin-left: 10px;
  }
  .header-div-buscar img {
    top: 5px;
  }
  /* -- FIN Logo -- */

  /* -- INICIO - Barra de busqueda -- */
  .header-div-buscar {
    width: calc(100% - 350px);
    max-width: 800px;
    left: 230px;
    top: 40px;
  }
  /* -- FIN - Barra de busqueda -- */

  /* -- INICIO - Menu -- */
  .header-div-menu-lista > li {
    max-width: 100px;
  }
  .header-div-menu-lista-principal li:hover > .header-div-menu-lista-secundario {
    left: 149px;
    width: 180px;
  }
  /* -- FIN - HEADER ---------------------------------------------------------*/

}
